
.slide-question-forward{
    animation: slide-question 500ms ease-in-out;
    /* delay iteration-count direction fill-mode */
}

.slide-question-reverse{
    animation: slide-question 500ms ease-in-out reverse;
}


@keyframes slide-question{
    0%{
        transform: translateX(0%);
        opacity: 1;
    }
    25%{
        transform: translateX(-100%);
        opacity: 0;
    }
    50%{
        transform: translateX(100%);
        opacity: 0;
    }
    /* 75%{
        transform: translateX(75%);
        opacity: 1;
    } */

    100%{
        transform: translateX(0%);
        opacity: 1;
    }

    
}